body {
    font: 12px sans-serif;
    text-align: center;
    margin: 20px;
    color: black;
    background: #e4e4e4;
}

#barraBusqueda {
    color: black;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 25px;
    background: #7572e7;
}

#barraBusqueda::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: black;
}

li {
    margin: 10px;
    background: #7572e7;
    border-radius: 25px;
    padding: 5px;
}
#textoInicial {
    font: 12px sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15;
}

#botonBuscar {
    background: black;
    color: #e4e4e4;
    border-radius: 25px;
    font-size: 25px;
    transform: rotateZ(270deg);
    border: none;
    outline: none;
}

#salirPlugin {
    border-radius: 25px;
    font-weight: bold;
    background: #d00505;
    color: black;
    border: none;
    padding: 10px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin: 20px;
}

#volver {
    border-radius: 25px;
    font-weight: bold;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin: 20px;
}

#botonIrAAccion {
    background: black;
    color: #e4e4e4;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-left: 5px;
}

#descripcion {
    font-weight: bold;
    font-size: 13;
}

#inputDelToken {
    color: #e4e4e4;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    background: black;
}
#inputDelToken::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: #e4e4e4;
}

#botonDeAgregarToken {
    padding-bottom: 3%;
    padding-top: 2%;
    background: #e4e4e4;
    border-radius: 25px;
    margin-left: 3%;
    align-self: flex-start;
}

#textoDelToken {
    margin-top: 70px;
    font: 12px sans-serif;
    font-weight: bold;
    font-size: 15;
}

#botonHome {
    background: black;
    color: #e4e4e4;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#salirPluginHome {
    border-radius: 25px;
    font-weight: bold;
    background: #d00505;
    color: black;
    border: none;
    padding: 10px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin-top: 40px;
}

#relacionar {
    border-radius: 25px;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin: 10px;
}

#selectorDeCondicion {
    border-radius: 25px;
    background: #7572e7;
    color: black;
    border: none;
    padding: 3px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
}
.BotonesDeAccion {
    background: #e4e4e4;
    border-radius: 25px;
    margin: 1%;
}
