body {
    font: 12px sans-serif;
    text-align: center;
    margin: 20px;
    color: black;
    background:#E4E4E4;
}

#barraBusqueda {
    color: black;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 25px;
    background: #7572E7;
}

#barraBusqueda::placeholder {
    font-weight: bold;
    opacity: .5;
    color: black;
}

li{
    margin: 10px;
    background: #7572E7;
    border-radius: 25px;
    padding: 5px; 
}
#textoInicial { 
    font: 12px sans-serif; 
    font-style: italic;
    font-weight: bold;
    font-size: 15;
}

#botonBuscar{
    background: black;
    color: #E4E4E4;
    border-radius: 25px; 
    font-size: 25px;
    transform: rotateZ(270deg);
    border: none;
    outline: none;
}

#salirPlugin{
    border-radius: 25px;
    background: black;
    color: #E4E4E4;
    border: none;
    padding: 10px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin: 20px;
}

#volver{
    border-radius: 25px;
    background: #7572E7;
    color: black;
    border: none;
    padding: 10px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin: 20px;
}


#botonIrAAccion{
    background: black;
    color: #E4E4E4;
    border: none;
    outline: none;
    border-radius: 25px; 
    margin-left: 5px;
}

#descripcion{
    font-weight: bold;
    font-size: 13;
}

.botonDeEdicionDeTexto{
    background: #E4E4E4;
    margin-right: 50%;
    border-radius: 25px; 
}


#botonDeCopiarAccion{
    background: #E4E4E4;
    
    border-radius: 15px;
}
