body {
    font-family: Arial;
    text-align: left;
    margin: 20px;
    color: #3a3131;
    background: #E4E4E4;
    font-size: 12;
}

#barraBusqueda {
    color: #222222;
    border: 1px solid #BDBDBD;
    padding-left: 35px;
    border-radius: 20px;
    background: #F1F1F1;
    margin-left: 50px;
    height: 32px;
    width: 205px;
}

#barraBusqueda::placeholder {
    
    color: #828282;
}

.flexsearchhh img {
    position: absolute;
    left: 83px;
    top: 28px;
}

li {
    text-align: left;
    margin: 10px;
    background: #F1F1F1;
    border-radius: 20px;
    padding: 8px;
    border: 2px solid #7572e7;
    list-style-type: none;
    padding-left: 20px;
}

li:hover {
    cursor: pointer;
    background-color: #7572e7;
}


#mapListadoo img{
    position: absolute;
    right: 50px;
}

#textoInicial {
    text-align: start;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15;
    position: relative;
    left: 20px;
    margin-right: 35px;
}

#textoHome {
    text-align: left;
    font-family: Arial, sans-serif;
    font: 12px sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20;
    margin-top: 60px;
}

#botonBuscar {
    background: black;
    color: #e4e4e4;
    border-radius: 20px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    transform: rotateZ(270deg);
    border: none;
    outline: none;
}

.botonDeAgregarToken img{
      /* Establece el posicionamiento absoluto para que la imagen se pueda posicionar dentro del botón */
  position: absolute;
  /* Centra horizontalmente la imagen dentro del botón */

  transform: translateX(500%);
  /* Centra verticalmente la imagen dentro del botón */
  
  transform: translateY(-50%);
  /* Ajusta el tamaño de la imagen según tus necesidades */
  width: 15px; /* Puedes ajustar este valor según el tamaño deseado */
  height: 15px; /* Puedes ajustar este valor según el tamaño deseado */
}

#volver {
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin: 20px;
}

#botonIrAAccion {
    font-family: Arial, sans-serif;
    background: black;
    color: #e4e4e4;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-left: 5px;
}

#descripcion {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 13;
}

#inputDelToken {
    font-family: Arial, sans-serif;
    position: absolute;
    text-align: left;
    color: #222222;
    border: 1px solid #BDBDBD;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background: #F1F1F1;
    bottom: 30px;
}
.inputDelToken::placeholder {
    font-family: Arial, sans-serif;
    text-align: left;
    text-align: left;
    color: #A59D9D;
}
#divInpToken{
    bottom: 0;
    position: relative;
}
.botonDeAgregarToken {
    /* padding-bottom: 3%;
    padding-top: 2%; */
    background: #F1F1F1;
    border-radius: 20px;
    /* align-self: flex-start; */
    border: 2px solid #7572e7;
    bottom: 33px;
    position: absolute;
    right: 67px;
    padding: 10px;
    width: 33px; /* Puedes ajustar este valor según el tamaño de tu imagen */
    height: 33px;
}
.botonDeAgregarToken:hover {
    cursor: pointer;
    background-color: #7572e7;
}

.botonDeAgregarToken img{
    /* Establece el posicionamiento absoluto para que la imagen se pueda posicionar dentro del botón */
    position: absolute;

    transform: translateX(-10%);
    /* Centra verticalmente la imagen dentro del botón */
    right: 7px;
    transform: translateY(-50%);
    /* Ajusta el tamaño de la imagen según tus necesidades */
    width: 15px; /* Puedes ajustar este valor según el tamaño deseado */
    height: 15px; /* Puedes ajustar este valor según el tamaño deseado */
}

#textoDelToken {
    position: absolute;
    bottom: 70px;
    text-align: left;
    /*margin-top: 20px;*/
    font-family: Arial, sans-serif;
    font: 12px sans-serif;
    font-size: 15;
}

.botonHome {
    background: #F1F1F1;
    color: #000000;
    border: 2px solid #7572e7;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 12px;
    
    margin-bottom: 140px;
}

.botonHome:hover {
    cursor: pointer;
    background-color: #7572e7;
}

#relacionar {
    border-radius: 20px;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
    margin: 10px;
}

#selectorDeCondicion {
    border-radius: 20px;
    background: #7572e7;
    color: black;
    border: none;
    padding: 3px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
}
.BotonesDeAccion {
    background: #e4e4e4;
    border-radius: 20px;
    margin: 2%;
    width: 35px;
    height: 35px;
}
.BotonesDeAccion:hover {
    background: #7572e7;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 25px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #7572e7;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    stroke: #7572e7;
}

/* Estilo para cambiar el cursor al pasar sobre el botón */
.back-button:hover, button.hover-estilo {
    cursor: pointer;
    background-color: #7572e7;
}

.textApp{
    margin-left: 30px;
    margin-right: 30px;
}

.listadoDeComponenteElegido{
    background-color: #f1f1f1;
    border: 1px ;
    margin: 1px;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.listadoDeComponenteElegido:hover {
    background-color: #f1f1f1;
}